<div class="container w-50 mt-5">
  <div class="row">
    <div class="col-sm-3">
      <img class="rounded-circle border border-2 border-info" width="200" height="200" src="../../assets/Images/About/photo.png"/>
    </div>
    <div class="col-sm-9">
      <h2>Hola! Soy David.</h2>
      <h3>Estoy buscando trabajo como programador o desarrollador junior en .NET framework o Angular, aunque estoy aprendiendo otros lenguajes de programación y framworks.</h3>
    </div>
  </div>
  <br />
  <p>Siempre me gustó la idea de programar, de crear algo útil a partir de pequeñas piezas, como un puzle, para poder mejorar la vida de la gente en una u otra forma.</p>

  <p>Además siempre me ha gustado aprender en el ámbito de la informática en general. tengo nociones básicas de ciberseguridad, desarrollo seguro, uso, gestión y mantenimiento de equipos Linux y deployment.</p>
</div>

