<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!projects"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<div class="card" *ngFor="let project of projects">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ project.title }}</td>
      <td>{{ project.description }}</td>
      <td>{{ project.tags }}</td>
      <td>{{ project.demolink }}</td>
      <td>{{ project.ghlink }}</td>
      <td>{{ project.imglink }}</td>
    </tr>
  </tbody>
</div>

    <!--    public string description { get; set; }

        public string[] tags { get; set; }

        public string demoLink { get; set; }

        public string ghLink { get; set; }

        public string imgLink { get; set; }
-->
