<h1 id="tableLabel">Projects</h1>

<p>These are some projects i made.</p>

<p *ngIf="!projects"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
<div class="container">
  <div class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-4 mb-3" *ngFor="let project of projects">
      <div class="card">
        <div class="card-header">
            {{ project.title }}
        </div>
        <div class="card-img">
            <a href="/projects/{{ project.title.split(' ').join('') }}"><img class="img-fluid" src="../assets/Images/Projects/{{ project.title.split(' ').join('-') }}/main.png"/></a>
        </div>
        <hr />
        <div class="card-body">
          <div class="card-text">
            {{ project.description }}
          </div>
        </div>
        <div class="card-footer">
            <span *ngFor="let tag of project.tags" class="badge bg-secondary m-1"> {{tag}} </span>
        </div>
      </div>
    </div>
  </div>
</div>
